body{
    background-color: white;
    text-align: center;
}

a, li{
    text-decoration: none;
    font-family: "Lexend";
}

h1, h3{
    color: #e60000;
    font-family: "Lobster";
    
}

h1{
    font-size: 2.5rem;
}

h3{
    font-size: 1.25rem;
}

.ingredients, .steps{
    margin: 0px 300px;
    text-align: left;
}